[perf-type]:hover:after {
  font-size: 0.8rem;
  content: attr(perf-type) "/" attr(perf-subtype);
  position: absolute;
  width: max-content;
  background-color: #000000;
  top: -1.4rem;
  right: 0;
  border: 1px solid #777;
  opacity: 1;
}
