@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
:root {
  font-family: "Lora", serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.editor-oce {
  position: relative;
  text-align: start;
}

.contentEditable {
  width: 80vw;
  min-height: 40em;
  padding: 0 8px;
  outline: none;
}

.placeholder {
  color: #999;
  overflow: hidden;
  position: absolute;
  top: 0px;
  padding-left: 8px;
  user-select: none;
  pointer-events: none;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

span.verses,
span.chapter {
  position: relative;
  visibility: visible;
  display: inline-flex;
  color: rgb(242 242 242);
}

span.chapter {
  font-size: 1.7rem;
  vertical-align: text-top;
  font-weight: 700;
  margin-inline-end: 0.1em;
}

span.verses {
  color: #fff;
  font-size: 0.8em;
  vertical-align: sup;
  font-weight: 600;
  margin-inline-end: 0.1em;
}

/* Styles for inspecting nodes */
[perf-type] {
  position: relative;
  color: #f4ff93;
  box-sizing: border-box;
  border: 1px dashed transparent;
}

[perf-type]:hover {
  border-color: rgb(80, 80, 80);
}

[perf-type="graft"] {
  padding: 0.1em;
  margin: 0.25em 0em;
}

[perf-type="graft"][perf-subtype="title"] {
  width: 100%;
  text-align: center;
}

[perf-type="graft"][perf-subtype="heading"] {
  width: 100%;
  text-align: center;
}

[perf-type="paragraph"] {
  color: #faffca;
  /* text-decoration: underline 2px wavy #f4ff93; */
}

[perf-subtype="mt2"] {
  font-style: italic;
  font-size: 0.6em;
  font-weight: 400;
}

[perf-subtype="mt"],
[perf-subtype="mt1"] {
  font-weight: 700;
}

h1 span[perf-type="paragraph"] {
  display: block;
}

p[perf-type="paragraph"] {
  color: rgba(255, 255, 255, 0.87);
  text-align: left;
}

[perf-subtype="introduction"] [perf-subtype="title"] {
  font-size: 1.5rem;
}

[perf-subtype="imt3"] {
  font-size: 0.8em;
}

/* [perf-type]:hover [perf-type="graft"],
.contentEditable:hover > [perf-type="graft"] {
  border: 1px dashed #747bff;
  background-color: #0000001a;
} */

[perf-subtype="footnote"]
  [perf-subtype="f"]
  > *:not([perf-subtype="note_caller"], [perf-subtype="note_caller"] *) {
  display: none;
}

[perf-type="graft"][data-active="true"] {
  border: none;
  text-decoration: wavy;
}

[perf-type="graft"][data-active="true"] span {
  text-decoration: solid wavy #646cff;
}

[perf-subtype="footnote"][data-active="true"]
  [perf-subtype="f"]
  > *:not([perf-subtype="note_caller"], [perf-subtype="note_caller"] *) {
  display: inline-block;
}

[perf-subtype="xref"]
  [perf-subtype="x"]
  > *:not([perf-subtype="note_caller"], [perf-subtype="note_caller"] *) {
  display: none;
}

[perf-subtype="xref"][data-active="true"]
  [perf-subtype="x"]
  > *:not([perf-subtype="note_caller"], [perf-subtype="note_caller"] *) {
  display: inline-block;
}

[perf-type="mark"] span {
  color: #e7ff5f;
  padding: 0.2rem;
}

.info-bar {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background: #070707;
  padding: 0.2em 0.6em;
  border: 1px solid #353535;
  border-radius: 0.4em;
}

.info-bar span {
  color: #fff;
  font-size: 0.75em;
}

[perf-subtype="note_caller"] {
  background: #00000087;
  padding: 0.1em 0.3em !important;
  border-radius: 0.2em;
  display: inline-block;
}

[perf-type]:empty::before {
  content: "·";
  padding: 2px;
  color: #fff;
  opacity: 0.5;
}
