.editor-oce {
  --editor-background-color: #fff;
  --editor-text-color: rgba(40, 40, 40, 0.87);
  --verse-marker-color: black;
  --chapter-marker-color: black;
  --title-color: orange;
  --pilcrow-color: black;
}

.editor-oce {
  position: relative;
  text-align: left;
  background-color: var(--editor-background-color);
  color: var(--editor-text-color);
  border-radius: 0 0 1rem 1rem;
  padding: 1em 2em;
  max-width: 600px;
}

.contentEditable {
  min-height: 40em;
  outline: none;
  counter-reset: ts-counter;
}

.editor-paragraph {
  margin: 0 0 15px 0;
  position: relative;
}

span.verses,
span.chapter {
  position: relative;
  visibility: visible;
  display: inline;
}

span.chapter {
  font-size: 1.7rem;
  vertical-align: text-top;
  font-weight: 700;
  margin-inline-end: 0.1em;
}

span.verses {
  font-size: 0.8em;
  line-height: 1rem;
  vertical-align: top;
  font-weight: 600;
  margin-inline-end: 0.1em;
}

/* Styles for inspecting nodes */
[perf-type] {
  position: relative;
  box-sizing: border-box;
}

[perf-type]:hover {
  border-color: rgb(80, 80, 80);
}

[perf-type="graft"][perf-subtype="title"] {
  width: 100%;
  text-align: center;
}

[perf-type="graft"][perf-subtype="heading"] {
  width: 100%;
  text-align: center;
}

[perf-subtype="mt2"] {
  font-style: italic;
  font-size: 0.6em;
  font-weight: 400;
}

[perf-subtype="mt"],
[perf-subtype="mt1"] {
  font-weight: 700;
}

h1 span[perf-type="paragraph"] {
  display: block;
}

p[perf-type="paragraph"] {
  text-align: left;
  padding: 0.1em;
  margin: 0.5rem 0;
}

p.paragraph:after {
  content: "¶";
  display: inline-block;
  color: var(--pilcrow-color);
  position: absolute;
  font-family: arial;
  margin-inline-start: 0.05rem;
}

p[perf-type="paragraph"]:has(br)::after {
  top: 0;
}

[perf-subtype="introduction"] [perf-subtype="title"] {
  font-size: 1.5rem;
}

[perf-subtype="imt3"] {
  font-size: 0.8em;
}

/* [perf-type]:hover [perf-type="graft"],
.contentEditable:hover > [perf-type="graft"] {
  border: 1px dashed #747bff;
  background-color: #0000001a;
} */

[perf-subtype="footnote"]
  [perf-subtype="usfm:f"]
  > *:not([perf-subtype="note_caller"], [perf-subtype="note_caller"] *) {
  display: none;
}

[perf-subtype="note_caller"] {
  display: inline;
  vertical-align: middle;
}

[perf-subtype="note_caller"] span.paragraph {
  vertical-align: text-bottom;
}

[perf-type="graft"][data-ui-active="true"] {
  border: none;
  text-decoration: wavy;
  border-radius: 0.4em;
}

[perf-type="graft"][data-ui-active="true"] span {
  text-decoration: solid wavy #646cff;
}

[perf-subtype="footnote"][data-ui-active="true"]
  [perf-subtype="usfm:f"]
  > *:not([perf-subtype="note_caller"], [perf-subtype="note_caller"] *) {
  display: inline;
}

[perf-subtype="xref"]
  [perf-subtype="usfm:x"]
  > *:not([perf-subtype="note_caller"], [perf-subtype="note_caller"] *) {
  display: none;
}

[perf-subtype="xref"][data-ui-active="true"]
  [perf-subtype="usfm:x"]
  > *:not([perf-subtype="note_caller"], [perf-subtype="note_caller"] *) {
  display: inline;
}

[perf-subtype="note_caller"] {
  border-radius: 0.4rem;
  vertical-align: middle;
}

[perf-subtype="xref"],
[perf-subtype="footnote"] {
  display: inline;
  padding: 0 0.3rem;
  margin-inline-end: 0.2em;
  border-radius: 0.5rem;
  background: #eee;
}

[perf-type="mark"] span {
  font-weight: 900;
}

[perf-type="mark"].verses {
  color: var(--verse-marker-color);
}

[perf-type="mark"].chapter {
  color: var(--chapter-marker-color);
}

[perf-subtype="usfm:wj"] {
  color: #cd0000;
}

.info-bar {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background: #070707;
  padding: 0.2em 0.6em;
  border-radius: 0.4em;
}

.info-bar span {
  color: #fff;
  font-size: 0.75em;
}

[perf-type]:empty::before {
  content: "·";
  padding: 2px;
  color: #b80000;
  opacity: 0.5;
}

.unsupported {
  color: #b80000;
  text-decoration: underline wavy;
  text-decoration-thickness: 0.08rem;
}

.unsupported:hover:after {
  font-size: 0.8rem;
  content: attr(perf-type) "/" attr(perf-subtype) " not supported";
  position: absolute;
  padding: 0 0.4em;
  border-radius: 0.5em;
  width: max-content;
  background-color: #c50000;
  color: #ffc0c0;
  top: -1.4rem;
  right: 0;
  border: 1px solid #6b2f2f;
  opacity: 1;
}

[perf-subtype="usfm:xo"]:empty::before {
  content: "origin reference";
}

[perf-subtype="usfm:xt"]:empty::before {
  content: "target references";
}

span[perf-subtype="usfm:ts"] {
  display: flex;
  border-bottom: 2px #a8ff9730;
  border-style: dashed;
  height: 2px;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  justify-content: center;
  opacity: 0.5;
}

span[perf-subtype="usfm:ts"]:hover {
  opacity: 1;
  border-color: #a8ff97;
  cursor: pointer;
}

span[perf-subtype="usfm:ts"]:after {
  content: "";
}

span[perf-subtype="usfm:ts"]:empty::before {
  counter-increment: ts-counter;
  content: counter(ts-counter); /* Avoids adding extra text */
  position: absolute; /* Position the triangle relative to the line */
  /* top: 50%; */ /* Center the triangle vertically */
  /* left: -5px; */ /* Offset the triangle slightly to the left of the line */
  transform: translateY(-50%) scale(0.8); /* Adjust vertical position if needed */
  font-weight: 900;
  background: #242424;
  color: white;
  border-radius: 0.3em;
  padding: 0em 0.5em;
  opacity: 1;
  display: inline-block;
}

@media print {
  body * {
    color: #070707 !important;
    background-color: #c50000 !important;
  }
  span[perf-subtype="usfm:ts"] {
    display: none;
  }

  p.paragraph:after {
    content: "";
  }
}

span.paragraph[perf-subtype="usfm:f"] {
  display: inline;
  box-sizing: border-box;
  height: fit-content;
}

.target-editor {
  max-width: 600px;
}

.toolbar {
  position: sticky;
  z-index: 1;
  top: 0;
  background: #fff;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 3px 8px -6px rgb(0 0 0 / 50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 0.25rem;
  gap: 0.2rem;
}

.toolbar button {
  background: transparent;
  color: inherit;
  padding: 0.4rem;
  border: 0.5rem;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: 600;
}

.toolbar button:hover {
  background: #eee;
}

.toolbar button i {
  text-decoration: none;
  font-style: normal;
  font-family: "Material Symbols Outlined";
  font-size: 1.3rem;
}
