@font-face {
  font-family: "Charis SIL";
  src:
    local("Charis SIL"), local("Charis SIL Bold"), local("Charis SIL Bold Italic"),
    local("Charis SIL Italic"), url("file:///C:/Windows/Fonts/CharisSIL-B.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Charis SIL";
  src: local("Charis SIL Bold");
  font-weight: bold;
}

@font-face {
  font-family: "Charis SIL";
  src: local("Charis SIL Italic");
  font-style: italic;
}

@font-face {
  font-family: "Charis SIL";
  src: local("Charis SIL Bold Italic");
  font-weight: bold;
  font-style: italic;
}
